@import 'tailwindcss';

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom base styles */
:root{
  --bg-900: #07060a;
  --panel: rgba(0,0,0,0.35);
}

html, body, #root {
  height: 100%;
  background: var(--bg-900);
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
